<div class="row">
	<h1>About Us</h1>
	<div class="large-4 columns">
		<%= image_tag "flea.png" %>
	</div>
	<p>Food Tracker was formed and created in July of 2013 by the founder and CEO Flea Loucks. Flea sought out to change the way people become or stay healthy. He watched his "master" par take in a food program that wasn't about counting calories, but instead, work out and eating healthier. Flea continues to do business and is a successful Boston Terrier!</p>
	<p>This project was developed for training, and this entire site is for learning purposes. We decided to create a food journal. The site would allow you to select pre designated plans and show you what foods could be eaten, and how much could be eaten each day. The project site allows multiple users, thanks the help of the devise gem.</p>
	<p>Users can sign up with an account and enter their information. Once signed up and logged in, the user has their own dashboard where they can edit their details and add food to their profile. The site utilizes the basic CRUD operations that are provided by Rails.</p>
</div>