<footer class="row">
	<div class="large-12 columns">
   		<hr>
   		<div class="row">
   		  <div class="large-6 columns">
   		    <p>© 2013, FoodTracker LLC</p>
   		  </div>
   		  <div class="large-6 columns">
   		    <ul class="inline-list right">
   		      <%= link_to "Home", root_path %>
   		      <%= link_to "About", about_path %>
   		      <%= link_to "Contact", contact_path%>
   		    </ul>
   		  </div>
   		</div>
 	</div>
</footer>